<!--Шаблон страницы профиля-->
<div ng-cloack layout="column" id="profile">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 flex md-truncate>Личный кабинет</h2>
            <md-button class="md-raised md-warn md-hue-3" hide-xs ng-click="logOut()">
                Выход
            </md-button>
        </div>
    </md-toolbar>
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom md-center-tabs>
            <md-tab label="Данные аккаунта">
                <md-content layout="row" layout-padding layout-wrap layout-margin layout-align="space-around">
                    <div class="padded" md-whiteframe="3" flex="100" flex-gt-sm="50" layout="column" layout-align="center center">
                        <h3>Данные для доступа на сайт</h3>
                        <p>Имя пользователя - {{user.login}}</p>
                        <p>E-mail - {{user.email}}</p>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Подробно">
                <md-content layout="row" layout-padding layout-wrap layout-margin layout-align="space-around">
                    <div class="padded" md-whiteframe="3" flex="100" flex-gt-sm="50" layout="column">
                        <h3 style="text-align: center;">Подробная информация</h3>
                        <form name="profileForm">
                            <md-input-container class="md-block">
                                <label>Полное имя</label>
                                <input ng-model="user.full_name" name="full_name" ng-pattern="/^[A-zА-яЁё\s]*$/">
                                <!--Проверка на недопустимые символы в имени-->
                                <div ng-messages="profileForm.full_name.$error">
                                    <div ng-message="pattern">
                                        Недопустимые символы. Проверьте правильность ввода.
                                    </div>                                     
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Дата рождения</label>
                                <md-datepicker ng-model="user.birthdate"></md-datepicker>
                            </md-input-container>                  
                            <md-input-container class="md-block">
                                <label>О себе</label>
                                <textarea ng-model="user.description" name="description" md-select-on-focus rows="5"></textarea>
                            </md-input-container>
                            <div layout="row" layout-align="center">
                                <md-button class="md-primary md-raised" type="submit" ng-click="updateProfile()" ng-if="profileForm.$dirty">Обновить профиль</md-button>
                            </div>                    
                        </form>                        
                    </div>
                </md-content>                
            </md-tab>
        </md-tabs>
    </md-content>    
</div>