<div ng-cloack layout="column" id="login">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 flex md-truncate>Вход на сайт</h2>
            <md-button class="md-raised md-warn md-hue-3" hide-xs ng-click="goToSignupPage()">
                Регистрация
            </md-button>
        </div>
    </md-toolbar>

    <md-content layout-padding>
        <md-grid-list md-cols="1" md-row-height="1:1">
            <div layout="row" layout-align="center center" flex-gt-xs>
                <form name="loginForm" flex-gt-xs="40">
                    <md-input-container class="md-block">
                        <label>Имя пользователя</label>
                        <input ng-model="username" name="username" minlength="4" required ng-pattern="/^\w+$/">
                        <!--Проверка корректности заполнения-->
                        <div ng-messages="loginForm.username.$error" role="alert" multiple>
                            <div ng-message="required">
                                Это поле не может быть пустым.
                            </div>
                            <div ng-message="minlength">
                                Длина логина должна быть не менее 4 символов.
                            </div>
                            <div ng-message="pattern">
                                Недопустимые символы. Возможны только: латиница, цифры, знак подчеркивания.
                            </div>                            
                        </div>                        
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Пароль</label>
                        <input ng-model="pass" type="password" name="pass" required>
                        <!--Проверка корректности заполнения-->
                        <div ng-messages="loginForm.pass.$error" role="alert" multiple>
                            <div ng-message="required">
                                Это поле не может быть пустым.
                            </div>
                        </div>  
                    </md-input-container>
                    <div layout="row" layout-align="center">
                        <md-button class="md-primary md-raised" flex="30" type="submit" ng-click="login()">Войти</md-button>
                    </div>
                </form>
            </div>
            <!--Кнопка для перехода к странице регистрации-->
            <div layout="row" layout-align="center" hide-gt-xs>
                <md-button class="md-primary md-raised md-warn" flex-gt-sm="30" ng-click="goToSignupPage()">Регистрация</md-button>
            </div>
        </md-grid-list>
    </md-content>
</div>