<!--Шаблон формы регистрации-->
<div ng-cloack layout="column" id="signup">
    <!--Верхняя панель-->
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 flex md-truncate>Регистрация нового пользователя</h2>
            <md-button class="md-raised md-warn md-hue-3" hide-xs ng-click="goToLoginPage()">
                Вход
            </md-button>
        </div>
    </md-toolbar>
    <!--Содержимое страницы-->
    <md-content layout-padding>
        <!--Делаем разметку страницы средствами ng-material для адаптивности дизайна-->
        <md-grid-list md-cols="1" md-row-height="1:1">
            <div layout="row" layout-align="center center" flex-gt-xs>
                <form name="signupForm" flex-gt-xs="40">
                    <md-input-container class="md-block">
                        <label>Имя пользователя</label>
                        <input ng-model="user.login" name="login" minlength="4" required ng-pattern="/^\w+$/">
                        <!--Проверка корректности заполнения-->
                        <div ng-messages="signupForm.login.$error" role="alert" multiple>
                            <div ng-message="required">
                                Это поле не может быть пустым.
                            </div>
                            <div ng-message="minlength">
                                Длина логина должна быть не менее 4 символов.
                            </div>
                            <div ng-message="pattern">
                                Недопустимые символы. Возможны только: латиница, цифры, знак подчеркивания.
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Введите актуальный e-mail</label>
                        <input type="email" name="email" 
                            ng-model="user.email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" required >
                        <!--Проверка корректности заполнения-->
                        <div ng-messages="signupForm.email.$error" role="alert">
                            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                            Пожалуйста, проверьте правильность ввода e-mail адреса.
                            </div>
                        </div>
                    </md-input-container>                  
                    <md-input-container class="md-block">
                        <label>Введите пароль</label>
                        <input ng-model="pass" name="pass" type="password" minlength="8" required>
                        <!--Проверка корректности заполнения-->
                        <div ng-messages="signupForm.pass.$error" role="alert" multiple>
                            <div ng-message="required">
                                Пароль не может быть пустым.
                            </div>
                            <div ng-message="minlength">
                                Пароль должен содержать не менее 8 символов.
                            </div>                            
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Подтвердите пароль</label>
                        <input ng-model="pass2" name="pass2" type="password" minlength="8" required ng-pattern="{{pass}}">
                        <!--Проверка корректности заполнения-->
                        <div ng-messages="signupForm.pass2.$error" role="alert">
                            <div ng-message="pattern">
                                Пароли не совпадают.
                            </div>
                        </div>                        
                    </md-input-container>
                    <div layout="row" layout-align="center">
                        <md-button class="md-primary md-raised" flex-gt-sm="30" type="submit" ng-click="signUp()">Регистрация</md-button>
                    </div>                    
                </form>
            </div>
            <!--Оставляем возможность перейти на страницу логина-->
            <div layout="row" layout-align="center" hide-gt-xs>
                <md-button class="md-primary md-raised md-warn" flex-gt-sm="30" ng-click="goToLoginPage()">Вход</md-button>
            </div>

        </md-grid-list>
    </md-content>
</div>